@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação - esqueceu a senha";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor, cheque seu e-mail para recuperar sua senha.
</p>
