<body onload="newDoc()">
    <p>Redirecionando...</p>
    <script>
        function newDoc(){
            window.location.assign("https://wa.me/5562998598024?text=Meu pedido é: http://luzdelas.herokuapp.com/admin/order/@ViewBag.Id")
        }
    </script>
</body>