@page
@model Disable2faModel
@{
    ViewData["Title"] = "Desabilitar autenticação de dois fatores (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Esta ação apenas desabilita 2FA.</strong>
    </p>
    <p>
        Desabilitar 2FA não muda as chaves usadas no app autenticador. Se você quer alterar a chave
        usada em um app autenticador, você deve <a asp-page="./ResetAuthenticator">redefinir suas chaves de autenticador.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Desabilitar 2FA</button>
    </form>
</div>
